.gradle/
build/
*.apk
*.ap_
*.aab
local.properties
*.log
.DS_Store
.idea/
.classpath
.c9/
*.class
*.dex
*.ear
*.jar
*.rar
*.war
*.zip
*.tar.gz
.project
.settings
*.iml
*.iws
*.ipr
out/
.vscode/
launch.json
settings.json
*.code-workspace
/captures/
/.externalNativeBuild/
/.cxx/
*.jks
*.keystore
node_modules/
npm-debug.log
yarn-error.log
